<div class="max-w-4xl mx-auto p-6">
    <h1 class="text-2xl font-bold mb-6">Your cart</h1>
  
    <!-- Cart Item -->
     <% if(cart && cart.items.length > 0) { %>
      <% carts.items.forEach(function(item){ %>
        <div class="border-b border-gray-300 pb-4 mb-6">
            <div class="flex justify-between items-start">
              <div class="flex items-start">
                <img src="/uploads/<%= item.productId.image[0] %>" alt="<%= item.productId.name %>" class="w-20 h-20 object-cover mr-4" />
                <div>
                  <h2 class="text-lg font-semibold"><%= item.productId.name %></h2>
                  <p class="text-gray-600">Price: ₹<%= item.price %></p>
                 
                </div>
              </div>
              <div class="flex items-center space-x-4">
                <!-- Quantity Control -->
                    <div class="flex items-center">
                    <button class="px-2 py-1 bg-gray-200 text-gray-800 rounded-l hover:bg-gray-300">-</button>
                    <input type="text" value="<%=item.quantity  %>" min ="1" class="w-10 text-center border border-gray-300 py-1 px-2">
                    <button class="px-2 py-1 bg-gray-200 text-gray-800 rounded-r hover:bg-gray-300">+</button>
                    </div>
                <button class="text-gray-500 hover:text-red-500"><svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg></button>
              </div>
              <p class="text-xl font-semibold text-orange-500"></p>
            </div>
          </div>
        
          <!-- Protection Plan -->
          <div class="flex items-center justify-between bg-gray-50 p-4 rounded-lg border border-gray-200 mb-6">
            <button class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-600">Add</button>
          
            <p class="text-lg font-semibold">$349.93</p>
          </div>
        
          <!-- Estimated Total and Checkout -->
          <div class="flex justify-between items-center mt-4">
           
            <p class="text-2xl font-semibold">$3,079.93 USD</p>
          </div>
        
          <!-- Checkout Button -->
          <div class="mt-6">
            <button class="w-full bg-orange-500 text-white py-3 rounded-md text-lg hover:bg-orange-600">Check out</button>
          </div>
        
          <!-- Continue Shopping -->
         
        </div>
        
      <% }) %>
     <% } %>
