
    <%- include('../layouts/userHeader.ejs') %>

<div class="flex">
    <%- include('../layouts/profileSideBar.ejs') %>

    <div class="flex items-center justify-center min-h-screen bg-gray-100 w-full">
        <div class="bg-white shadow-md rounded-lg p-8 max-w-md w-full">
            <img src="/forgot password.jpg" alt="Reset Password" class="mx-auto mb-4">
            <h2 class="text-2xl font-semibold text-center mb-6">Reset Password</h2>
            <form id="resetPasswordForm" action="/reset-password/<%= token %>" method="POST">
                <div class="mb-4">
                  <label for="password" class="block text-gray-700">New Password:</label>
                  <input type="password" id="password" name="password" required class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <div class="mb-4">
                  <label for="confirmPassword" class="block text-gray-700">Confirm Password:</label>
                  <input type="password" id="confirmPassword" name="confirmPassword" required class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <div id="error-message" class="text-red-500 mb-4"></div>
                <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition duration-300">Reset Password</button>
              </form>
            <% if (typeof message !== 'undefined') { %>
                <div class="text-red-400 bg-red-100 border border-red-400 p-4 rounded text-center">
                    <%= locals.message %>
                </div>
              <% } %>
        </div>
    </div>
</div>
<script>
    document.getElementById('resetPasswordForm').addEventListener('submit', function (event) {
      const password = document.getElementById('password').value;
      const confirmPassword = document.getElementById('confirmPassword').value;
      const errorMessage = document.getElementById('error-message');
  
      // Regular expression to check password criteria
      const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
  
      // Clear any previous error message
      errorMessage.textContent = '';
  
      // Validate password format
      if (!passwordRegex.test(password)) {
        errorMessage.textContent = 'Password must be at least 8 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character.';
        event.preventDefault(); // Prevent form submission
        return; // Exit the function
      }
  
      // Validate password match
      if (password !== confirmPassword) {
        errorMessage.textContent = 'Passwords do not match.';
        event.preventDefault(); // Prevent form submission
      }
    });
  </script>
<%- include('../layouts/userFooter.ejs') %>